header{
    background-color:#0c181c;
    margin: 0%;
    padding: 0;
}
nav{
    margin-top: 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    padding: 16px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}
ul li{
    list-style-type: none;
}

ul li a:hover{
    color: darkblue;
}
.logo{
    position: absolute;
    width: 75px;
    left: 24px;
    top: 8px;
}